#toggle-dark-mode-button {
    position: absolute;
    left: 0;
    top: 100px;
    z-index: 999999;
}

#toggle-layout-button {
    position: absolute;
    left: 0;
    top: 150px;
    z-index: 999999;
}

#toggle-settings-button {
    position: absolute;
    left: 0;
    top: 200px;
    z-index: 999999;
}

#toggle-fullscreen-button {
    position: absolute;
    left: 0;
    top: 250px;
    z-index: 999999;
}
