html,
body,
#root {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
}

.dialog-overlay {
    background-color: #00000080;
    z-index: 10;
}

.p-dialog .p-dialog-header,
.p-dialog .p-dialog-content {
    background: transparent;
    padding: 0;
}

.p-tabview-panels,
.p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: transparent;
}

.p-tabview-nav-container {
    z-index: 15;
}

.p-dialog-mask {
    align-items: normal !important;
    justify-content: normal !important;
}

.wholePage {
    height: 100%;
}

.p-dialog {
    max-height: 100%;
    width: 100vw;
}

.p-dialog.overlay-hidden {
    height: fit-content;
    width: fit-content;
}

.overlay-hidden .p-tabview-panels {
    padding: 0;
}

.overlay-page {
    padding: 50px;
}
